.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.image-container>img{
    box-shadow: 5px 5px 30px lightgray;
    border-radius: 5px;
}


@media only screen and (max-width: 578px) {
    .about-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}