footer{
    padding: 10px 50px;
    background-color: rgb(2, 24, 46);
    color: white;
}
.copyright{
    text-align: center;
    padding: 20px 40px 5px 40px;
    margin: 0;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.footer-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-menu a{
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon img{
    width: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    color: white;
}

.get-in-tech>button{
    margin-left: 20px;
}

@media only screen and (max-width: 568px) {
    .footer-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
    .footer-menu a{
        text-align: center;
    }
}