.navbar-nav a{
    text-decoration: none;
    padding: 2px 10px;
    color: white;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.header-title{
    color: rgb(246, 233, 254);
    font-style: italic;
    font-size: 30px;
    margin-right: 40px;
    cursor: pointer;
}
@media only screen and (max-width: 568px ) {
    .header-title{
        font-size: 16px;
    }
    .navbar-nav a{
        margin-right: 0;
    }
}