.blogs-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}


@media only screen and (max-width: 568px) {
    .blogs-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}